<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a href="/signout">Logout</a></li>
  </ul>
  
</nav>
  <div class="text-center">
    <div class="form-container">
      <h2>Sign up</h2><br />

        <form class="form-signin" action="/users/signup" method="post">
            <div class="input-margin-top form-group">
                <input class="form-control input-default" type="text"
                    name="name" placeholder="Full Name" required>
            </div>

    		    <div class="margin-bottom-password form-group">
                <input class="form-control input-default" type="text"
                    name="email" placeholder="Email Address" required>
            </div>

    		    <div class="margin-bottom-password form-group">
                <input class="form-control input-default" type="password"
                    placeholder="Password" name="password" required>
            </div>

            <div class="form-group">
                <input class="btn btn-primary custom-button" type="submit"  name="submitButton" value="Submit">
            </div>
    	</form>

      <div class="signup-link">
          <p>Already have an account? <a href="/">Login</a></p>
      </div>

</body>
</html>
